@model IEnumerable<AgileTech_Web.Models.Dto.ClientDto>

@{
    ViewData["Title"] = "IndexClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div calss="container p-4 border">
    <div class="row pg-2">
        <h1 class="text-primary">Client List</h1>
    </div>
    <div class="col text-end pt-1">
        <a asp-controller="Client" asp-action="SedTo" class="btn btn-outline-primary"><i class="bi bi-send"></i>Send All to HubSpot</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td> <a asp-controller="Client" asp-action="SendTo" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="bi bi-send"></i>Send to HubSpot</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
